<head>
 <%= stylesheet_link_tag "exitoso", "data-turbo-track": "reload" %>
</head>

<div class="main-exitoso">
    <h1>¡ENHORABUENA!</h1>
    <p>En los próximos días te llegará un código para pagar tu inscripción y el pase para ingresar al evento.</p>
</div>
