*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.form-div{
    border: 1px solid  grey; 
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    text-align: center;   
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding-bottom: 100px;
}

.encabezado{
    margin: 60px auto;
    text-align: center;
}

.encabezado p{
    color: white;
    padding-top: 10px;
    font-size: 12px;
}

.title{
    background: #089ACF;
    background: linear-gradient(to right, #089ACF 0%, #44CFAF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    font-size: 30px;
}

.nombre-apellido,
.ciudades,
.correo,
.empresa,
.fecha{
    padding: 5px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nombre-apellido input,
.ciudades input,
.correo input,
.fecha input,
.empresa input{
    border: none;
    border-bottom: 1px solid black;
    margin-left: 10px;
}

.nombre-apellido label,
.ciudades label,
.correo label,
.fecha label{
    margin-left: 10px;
}

.check,
.empresa{
   text-align: center;
   padding-top: 40px;
}

footer{
    width: 100%;
    display: block;
    height: 100px;
    background-color: black;
}

footer p{
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 30px;
}

.btn-div{
    padding: 30px 10px;
    text-align: center;
}

.btn-div a{
    border: none;
    background: linear-gradient(to right, #089ACF 0%, #44CFAF 100%);
    text-align: center;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
}

.sponsor{
    margin-top: 50px;
}

.sponsor p{
    color: white;
    font-size: 15px ;
    padding-bottom: 20px;
    text-align: center;
}

.img-sponsor{
    width: 150px;
}

@media (max-width: 480px){

    .encabezado p{
        padding: 10px 50px;
    }

    .form-div{
        text-align: left;
    }

    .nombre-apellido,
    .ciudades,
    .correo,
    .fecha{
        flex-direction: column;
        padding-bottom: 0;
    }

    .form-nombre,
    .form-apellido,
    .form-fecha,
    .form-lugar,
    .form-correo,
    .form-movil,
    .form-pais,
    .form-provincia{
        padding: 8px;
    }

    .form-btn{
        font-size: 20px;
    }

    .img-sponsor{
        width: 100px;
    }

}

